body {
    font-family: Arial;
    text-align: center;

    background-image: url("image/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav {
    background-color: #f2b6c1;
    padding: 15px;
}

.nav a {
    margin: 15px;
    text-decoration: none;
    color: #e75480;
    font-weight: bold;
}

.project-card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0, 0.1);
}

.project-card img {
width: 100%;
height: auto;
border-radius: 8px;
display: block;
margin: 10px 0;
}
